{% extends 'base.html.twig' %}

{% block body %}
    <br/>
    <div id="welcome">
        <h1><span>Search Nearby Citys Weather Application</span> for Australian</h1>
    </div>
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}


            {#<div id="next">#}
                {#<div class="form-group col-md-6">#}
                    {#<label for="text-location">Location Name <br />(e.g Sydney, Melbourne)</label>#}
                    {#<input type="text" class="form-control" id="text-location">#}
                {#</div>#}
                {#<div class="form-group col-md-6">#}
                    {#<label for="text-distance">Set Radius Distance <br />(in Kilometers e.g 15):</label>#}
                    {#<input type="text" class="form-control" id="text-distance" style="width: 70px;" value="15">#}
                {#</div>#}
                {#Please enter Location Name here (e.g Sydney, Eldorado) : <input id="text-location" name="city" value="" />#}
                {#<br><br>#}
                {#OR<br><br>#}

                {#Please enter Postcode here (e.g 2000, 3500): <input class="placeholder" id="text-postcode" name="postcode" value="" />#}
                {#<br><br>#}

                {#Please enter distance (in Kilometers e.g 15): <input id="text-distance" name="postcode" value="15" />#}
                {#<br>#}
            {#</div>#}
            {#<br><br>#}
            {#<button id="btn-search" class="btn btn-primary">Search Now</button>#}
        {#</div>#}


{% endblock %}

